body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
select,
textarea,
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

h1, h2 {
    color: #333;
    text-align: center; /* Centriranje teksta */
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

/* Dodatni stil za CKEditor */
.ck-editor__editable {
    min-height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-sizing: border-box;
}

/* Dodatni stil za file upload */
.file-upload-container {
    text-align: center;
}

.file-upload-container img {
    max-width: 100px;
    margin-bottom: 10px;
}

/* Dodatni stil za IP adrese i login times */
#ipList {
    margin-top: 10px;
}
