@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fff;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.18;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 16em;
  width: 9em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 0em 0em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 0px solid #ccc;
  text-decoration: none;
}





.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: #ececec;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}
.small-card {
    width: 70%; /* Adjust the width as needed */
  }
  
.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

.top-navigation {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  line-height: 1.9;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 26; }
  @media screen and (max-width: 769px) {
    .top-navigation {
      border: 0; }
      .top-navigation .nav-element {
        height: 40px; }
      .top-navigation h1 {
        line-height: 1.2em; }
      .top-navigation .global-search {
        border-radius: 0;
        height: 40px;
        margin: 0;
        width: 100%; }
        .top-navigation .global-search input {
          height: 100%; } }
  .home .top-navigation {
    border-bottom: 0; }
  .top-navigation .navbar {
    background-color: #fff;
    background-image: none;
    border: 0;
    box-shadow: none;
    font-size: inherit;
    margin-bottom: 0;
    min-height: 0; }
    @media screen and (max-width: 769px) {
      .top-navigation .navbar {
        font-size: .8em; } }
    .top-navigation .navbar li > a,
    .top-navigation .navbar a:active,
    .top-navigation .navbar a:focus,
    .top-navigation .navbar a:hover {
      text-decoration: none; }
  .top-navigation .main-nav {
    float: left; }
  .top-navigation .action-buttons {
    float: right;
    padding-right: .5em; }
  .top-navigation .support-link {
    padding: .55em .75em; }
  .top-navigation .submit-link {
    background: #5c727d;
    color: #fff;
    padding: .55em .75em; }
  .top-navigation .donate-link {
    background-color: #e5332a;
    color: #fff; }
  .top-navigation .first-level {
    display: inline-block; }
    .top-navigation .first-level li {
      display: inline-block;
      margin: 0; }
  .top-navigation .nav-logo {
    background: url("/static/img/wl-logo.png") 0% 50% no-repeat;
    background-size: 1.4em;
    display: inline-block;
    float: left;
    letter-spacing: 0;
    margin-left: .5em;
    padding: .9em 1.8em; }
    @media screen and (max-width: 769px) {
      .top-navigation .nav-logo {
        margin-left: 0;
        padding-right: 0; } }
    .top-navigation .nav-logo:hover {
      background-color: transparent; }
    .top-navigation .nav-logo h1 {
      background: none;
      border-bottom: 0;
      font-size: 1.9em;
      font-weight: normal;
      line-height: 1.1em;
      margin: 0 auto;
      padding: 0; }
  .top-navigation .img-responsive {
    margin: 0 auto;
    max-height: 100%; }
  .top-navigation .global-search {
    float: right;
    margin: .7em 0;
    padding: .55em; }
    @media screen and (max-width: 769px) {
      .top-navigation .global-search {
        border-bottom: solid 1px #dedede;
        border-top: solid 1px #ebebeb;
        margin: 0;
        width: 100%; } }
    .home .top-navigation .global-search {
      display: none; }
    .wlsearch .top-navigation .global-search {
      display: none; }
    .top-navigation .global-search input {
      border: 0;
      border-bottom: solid 2px #4d5f69;
      color: #7d939f;
      font-family: inherit;
      font-weight: normal;
      letter-spacing: 2px;
      line-height: 1.9;
      outline: 0;
      width: 120px; }
      @media screen and (max-width: 769px) {
        .top-navigation .global-search input {
          border: 0;
          width: 85%; } }
    .top-navigation .global-search input,
    .top-navigation .global-search button {
      display: block;
      float: left;
      font-size: inherit; }
    .top-navigation .global-search .btn-search {
      background: url("../img/magnifier-green.png") center center no-repeat;
      background-size: 100%;
      border: 0;
      display: inline-block;
      float: right;
      height: 1em;
      margin: .3em .2em 0;
      width: 1em; }
      @media screen and (max-width: 769px) {
        .top-navigation .global-search .btn-search {
          border: 0;
          height: 1.5em;
          margin-top: .2em;
          width: 1.5em; } }
      .top-navigation .global-search .btn-search.btn {
        background-color: transparent;
        border: 0;
        border-radius: 0; }

        .horizontal-scroll{
          
          display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 25px;
  padding: 0;
  background-color: #f2f2f2;
  z-index: -999;
        }

        
