html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.9;
  margin: 0;
  padding-top: 70px;
  width: auto; }

h1,
h2,
h3,
h4 {
  clear: both;
  color: #093a41;
  font-weight: 500;
  margin-top: 0; }

h1 {
  font-size: 2.25em;
  padding-top: 1em; }
  @media screen and (max-width: 769px) {
    h1 {
      margin-bottom: 20px; } }

.clearfix::after, .top-navigation .navbar::after, .top-navigation .nav-logo::after {
  clear: both;
  content: "";
  display: table; }

a {
  color: #0078c6;
  text-decoration: none; }

.button-face, .top-navigation .first-level li a {
  border-radius: 4px;
  color: #4d5f69;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  margin: .7em 0;
  padding: .55em; }
  .button-face:active, .top-navigation .first-level li a:active, .button-face:hover, .top-navigation .first-level li a:hover, .button-face:focus, .top-navigation .first-level li a:focus {
    text-decoration: none; }

.button-face.green {
  background-color: #4d5f69;
  color: #fff; }
.button-face.huge {
  font-size: 1.2em;
  padding: .55em 3em; }

.top-navigation .nav-logo h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  letter-spacing: normal; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

ul.spip {
  list-style-type: unset;
  padding-left: 40px; }
ul li {
  margin-bottom: .5em; }

p {
  margin-bottom: .72em; }

.content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin: 52px auto;
  padding: 0 1em 5em; }
  .content::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (max-width: 999px) {
    .content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%; }
      .content:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 769px) {
    .content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%;
      font-size: 14px;
      margin-top: 25px;
      padding: 0 1em 2em; }
      .content:last-child {
        margin-right: 0; } }
  .content.with-sidenav, .content.rub66 {
    margin-left: 0%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    float: left; }
    .content.with-sidenav:last-child, .content.rub66:last-child {
      margin-right: 0; }
    @media screen and (max-width: 769px) {
      .content.with-sidenav, .content.rub66 {
        margin-left: 0%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .content.with-sidenav:last-child, .content.rub66:last-child {
          margin-right: 0; } }

.mobile-only {
  display: none; }
  @media screen and (max-width: 769px) {
    .mobile-only {
      display: block; } }

@media screen and (max-width: 769px) {
  .desktop-only,
  #wlp,
  #wlp + table,
  .top-navigation .main-nav,
  .top-navigation .submit-link {
    display: none; } }

@media screen and (max-width: 769px) {
  h1 {
    font-size: 1.9em; }

  h2 {
    font-size: 1.5em; }

  h3 {
    font-size: 1.1em; } }
.timestamp {
  color: gray;
  font-size: .9em; }

iframe {
  max-width: 100%; }

.container-text img {
  max-width: 100%; }

.translations-container {
  margin-left: 85.29804%;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  border: 1px solid #000;
  float: right;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 1em 2.2em; }
  .translations-container:last-child {
    margin-right: 0; }
  .translations-container ul {
    list-style-type: none;
    padding-left: 0; }
  .translations-container li {
    line-height: normal;
    padding-bottom: .8em; }

.btn-wl {
  clear: both;
  background-color: #007AC3;
  color: #fff !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
  padding: 7px 15px;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  line-height: 20px;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  display: inline-block; }

.btn-wl-empty {
  color: #007AC3 !important;
  background-color: #fff;
  border-color: #007AC3;
  border-width: 3px; }

div.submit_elem {
  position: absolute;
  top: 34em;
  width: 100%; }

div.submit_buttons {
  margin: 2em 0em;
  margin-bottom: 0;
  padding-bottom: 0; }

a:hover {
  text-decoration: none; }

#submit_wlkey:target ~ div[id=main],
#submit_help_contact:target ~ div[id=main],
#submit_help_tor:target ~ div[id=main],
#submit_help_tips:target ~ div[id=main],
#submit_help_after:target ~ div[id=main] {
  display: none; }
#submit_wlkey:target ~ footer[id=page-footer],
#submit_help_contact:target ~ footer[id=page-footer],
#submit_help_tor:target ~ footer[id=page-footer],
#submit_help_tips:target ~ footer[id=page-footer],
#submit_help_after:target ~ footer[id=page-footer] {
  display: none; }
#submit_wlkey:target ~ div[id=submit],
#submit_help_contact:target ~ div[id=submit],
#submit_help_tor:target ~ div[id=submit],
#submit_help_tips:target ~ div[id=submit],
#submit_help_after:target ~ div[id=submit] {
  display: block; }
#submit_wlkey:target ~ div[id=submit_help_buttons],
#submit_help_contact:target ~ div[id=submit_help_buttons],
#submit_help_tor:target ~ div[id=submit_help_buttons],
#submit_help_tips:target ~ div[id=submit_help_buttons],
#submit_help_after:target ~ div[id=submit_help_buttons] {
  display: none; }
#submit_wlkey:target,
#submit_help_contact:target,
#submit_help_tor:target,
#submit_help_tips:target,
#submit_help_after:target {
  display: block; }

#submit ~ div[id=main] {
  display: block; }

#submit {
  display: none; }

#submit_help_buttons {
  display: none; }

#submit_wlkey {
  display: none; }

#submit_help_contact {
  display: none; }

#submit_help_tor {
  display: none; }

#submit_help_tips {
  display: none; }

#submit_help_after {
  display: none; }

#submit:target ~ div[id=main] {
  display: none; }
#submit:target ~ footer[id=page-footer] {
  display: none; }
#submit:target ~ div[id=submit_help_buttons] {
  display: block; }
#submit:target {
  display: block; }

.submit_banner {
  padding-top: 55px;
  position: absolute;
  top: 0;
  width: 100%; }
  .submit_banner h1 {
    float: left;
    margin: 0;
    padding: 0;
    width: 90%; }

.onion-url {
  font-size: 30px;
  font-weight: bold; }

.page-header::after {
  clear: both;
  content: "";
  display: table; }

.remove-button {
  float: right; }
  .remove-button span {
    font-size: 1.5em; }

.submit_banner {
  background-color: inherit; }
  .submit_banner .glyphicon-remove-circle::before {
    content: '\d7'; }

.submit_banner,
.submit_elem {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .submit_banner .submit_buttons,
  .submit_elem .submit_buttons {
    margin-top: 4em; }

.top-navigation {
  background-color: #fff;
  border-bottom: 1px solid #dedede;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  line-height: 1.9;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 26; }
  @media screen and (max-width: 769px) {
    .top-navigation {
      border: 0; }
      .top-navigation .nav-element {
        height: 40px; }
      .top-navigation h1 {
        line-height: 1.2em; }
      .top-navigation .global-search {
        border-radius: 0;
        height: 40px;
        margin: 0;
        width: 100%; }
        .top-navigation .global-search input {
          height: 100%; } }
  .home .top-navigation {
    border-bottom: 0; }
  .top-navigation .navbar {
    background-color: #fff;
    background-image: none;
    border: 0;
    box-shadow: none;
    font-size: inherit;
    margin-bottom: 0;
    min-height: 0; }
    @media screen and (max-width: 769px) {
      .top-navigation .navbar {
        font-size: .8em; } }
    .top-navigation .navbar li > a,
    .top-navigation .navbar a:active,
    .top-navigation .navbar a:focus,
    .top-navigation .navbar a:hover {
      text-decoration: none; }
  .top-navigation .main-nav {
    float: left; }
  .top-navigation .action-buttons {
    float: right;
    padding-right: .5em; }
  .top-navigation .support-link {
    padding: .55em .75em; }
  .top-navigation .submit-link {
    background: #5c727d;
    color: #fff;
    padding: .55em .75em; }
  .top-navigation .donate-link {
    background-color: #e5332a;
    color: #fff; }
  .top-navigation .first-level {
    display: inline-block; }
    .top-navigation .first-level li {
      display: inline-block;
      margin: 0; }
  .top-navigation .nav-logo {
    background: url("/static/img/wl-logo.png") 0% 50% no-repeat;
    background-size: 1.4em;
    display: inline-block;
    float: left;
    letter-spacing: 0;
    margin-left: .5em;
    padding: .9em 1.8em; }
    @media screen and (max-width: 769px) {
      .top-navigation .nav-logo {
        margin-left: 0;
        padding-right: 0; } }
    .top-navigation .nav-logo:hover {
      background-color: transparent; }
    .top-navigation .nav-logo h1 {
      background: none;
      border-bottom: 0;
      font-size: 1.9em;
      font-weight: normal;
      line-height: 1.1em;
      margin: 0 auto;
      padding: 0; }
  .top-navigation .img-responsive {
    margin: 0 auto;
    max-height: 100%; }
  .top-navigation .global-search {
    float: right;
    margin: .7em 0;
    padding: .55em; }
    @media screen and (max-width: 769px) {
      .top-navigation .global-search {
        border-bottom: solid 1px #dedede;
        border-top: solid 1px #ebebeb;
        margin: 0;
        width: 100%; } }
    .home .top-navigation .global-search {
      display: none; }
    .wlsearch .top-navigation .global-search {
      display: none; }
    .top-navigation .global-search input {
      border: 0;
      border-bottom: solid 2px #4d5f69;
      color: #7d939f;
      font-family: inherit;
      font-weight: normal;
      letter-spacing: 2px;
      line-height: 1.9;
      outline: 0;
      width: 120px; }
      @media screen and (max-width: 769px) {
        .top-navigation .global-search input {
          border: 0;
          width: 85%; } }
    .top-navigation .global-search input,
    .top-navigation .global-search button {
      display: block;
      float: left;
      font-size: inherit; }
    .top-navigation .global-search .btn-search {
      background: url("../img/magnifier-green.png") center center no-repeat;
      background-size: 100%;
      border: 0;
      display: inline-block;
      float: right;
      height: 1em;
      margin: .3em .2em 0;
      width: 1em; }
      @media screen and (max-width: 769px) {
        .top-navigation .global-search .btn-search {
          border: 0;
          height: 1.5em;
          margin-top: .2em;
          width: 1.5em; } }
      .top-navigation .global-search .btn-search.btn {
        background-color: transparent;
        border: 0;
        border-radius: 0; }

#paginationpagination_racine_articles {
  position: absolute;
  top: 0; }

@media screen and (max-width: 769px) {
  #main .sidebar,
  #main .container-text {
    float: left;
    display: block;
    margin-right: 38.19821%;
    width: 100%;
    padding-left: 0;
    padding-right: 0; }
    #main .sidebar:last-child,
    #main .container-text:last-child {
      margin-right: 0; } }
#main #uniquer {
  overflow-x: auto; }

#donate-content img {
  height: auto;
  max-width: 100%; }

.release-index {
  margin: 1em 0; }

.release::after {
  clear: both;
  content: "";
  display: table; }
.release h1 {
  border-top: 1px solid #dedede; }
.release:before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden; }
.release .leak-content img {
  width: 100%; }
.release h3 {
  margin-bottom: .7em; }
  .release h3:not(:first-of-type) {
    margin-top: 1.5em; }

.media-partners {
  margin: 1em 0; }

.leak-date {
  margin-bottom: 2em; }

.pagination li {
  display: inline;
  padding: 0.3em; }
.pagination .current {
  font-weight: bold; }

#uniquer {
  overflow-x: scroll; }

.column-titles h2 {
  margin: 30px 0; }
@media screen and (max-width: 769px) {
  .column-titles {
    display: none; } }

.document-col, .analysis-col {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  float: left;
  padding-left: 15px; }
  .document-col::after, .analysis-col::after {
    clear: both;
    content: "";
    display: table; }
  .document-col:last-child, .analysis-col:last-child {
    margin-right: 0; }
  @media screen and (max-width: 769px) {
    .document-col, .analysis-col {
      float: left;
      display: block;
      margin-right: 16.03631%;
      width: 100%; }
      .document-col:last-child, .analysis-col:last-child {
        margin-right: 0; }
      .document-col:not(:last-child), .analysis-col:not(:last-child) {
        padding-bottom: 1em; } }
  .document-col img, .analysis-col img {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 32px; }
  .document-col .meta-info, .analysis-col .meta-info {
    display: inline-block;
    float: left;
    width: 85%; }
    .document-col .meta-info::after, .analysis-col .meta-info::after {
      clear: both;
      content: "";
      display: table; }
  .document-col .title, .analysis-col .title {
    font-size: 1.2em;
    line-height: 1.4em; }
  .document-col .extra-information, .analysis-col .extra-information {
    font-size: .9em; }
  .document-col:hover a, .analysis-col:hover a {
    color: #0078c6; }

.release-section {
  margin-top: 1em; }
  .release-section h3 {
    background-color: #ebebeb;
    margin: 0;
    padding-left: 15px; }
  .release-section li:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
    margin: 0; }
  .release-section h4 {
    font-size: 1.2em;
    padding-left: 15px;
    margin: 0.5em 0 0 0; }

.document-information {
  height: inherit;
  padding: 1em 0; }
  .document-information::after {
    clear: both;
    content: "";
    display: table; }
  .document-information a {
    color: #333333; }

.documents-release:before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden; }

.document .banner::after {
  clear: both;
  content: "";
  display: table; }
.document .title {
  padding-top: 1em; }
  .document .title h3 {
    margin-bottom: 0; }
  .document .title h1 {
    line-height: 1.4em; }
  .document .title .extra-information {
    margin-bottom: 25px; }
.document .leak-sidebar {
  margin-top: 12em; }
  @media screen and (max-width: 769px) {
    .document .leak-sidebar {
      margin-top: 0; } }

.article {
  padding: .7em 0; }
  .article::after {
    clear: both;
    content: "";
    display: table; }
  .article .info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%; }
    .article .info:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      .article .info {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%; }
        .article .info:last-child {
          margin-right: 0; } }
  .article .logo {
    display: inline-block; }
    .article .logo img {
      width: 100px;
      max-height: 80px; }
      @media screen and (max-width: 500px) {
        .article .logo img {
          display: none; } }
  .article:not(:last-child) {
    border-bottom: 1px solid #ebebeb;
    margin: 0; }

.articles .title {
  font-size: 1.2em;
  line-height: 1.4em; }
.articles .date {
  font-size: .9em; }

h1 {
  margin-bottom: 0;
  padding-top: 20px; }

.title-area {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }
  .title-area::after {
    clear: both;
    content: "";
    display: table; }
  .title-area img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .title-area img:last-child {
      margin-right: 0; }
    @media screen and (max-width: 769px) {
      .title-area img {
        display: none; } }
  .title-area .leak-title {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    display: inline-block;
    font-weight: bold;
    padding-top: 0; }
    .title-area .leak-title:last-child {
      margin-right: 0; }
    @media screen and (max-width: 769px) {
      .title-area .leak-title {
        float: left;
        display: block;
        margin-right: 10.1484%;
        width: 100%; }
        .title-area .leak-title:last-child {
          margin-right: 0; } }

.leak-navigation {
  margin-top: 1em;
  border-bottom: 1px solid #dedede; }
  .leak-navigation .active {
    background-color: #ebebeb; }
  .leak-navigation a {
    color: #093a41; }
    .leak-navigation a :after {
      margin-left: 0.3em;
      vertical-align: -5%;
      font-size: 1em;
      content: "\25BC"; }
  .leak-navigation li {
    display: inline-block;
    font-weight: bold;
    padding: .4em .9em;
    margin: 0; }
    .leak-navigation li:hover {
      background-color: #ebebeb; }

h2 {
  margin-bottom: 5px; }

.leak-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .leak-content:last-child {
    margin-right: 0; }
  @media screen and (max-width: 769px) {
    .leak-content {
      float: left;
      display: block;
      margin-right: 10.1484%;
      width: 100%; }
      .leak-content:last-child {
        margin-right: 0; } }

.leak-sidebar {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding-left: 2em;
  margin-top: 14px; }
  .leak-sidebar:last-child {
    margin-right: 0; }
  @media screen and (max-width: 769px) {
    .leak-sidebar {
      float: left;
      display: block;
      margin-right: 10.1484%;
      width: 100%;
      padding-left: 0;
      padding-bottom: 2em; }
      .leak-sidebar:last-child {
        margin-right: 0; } }
  .leak-sidebar ul {
    margin-bottom: 40px; }

.sidebar-section {
  line-height: 1.4em;
  margin-bottom: 1.5em; }
  .sidebar-section::after {
    clear: both;
    content: "";
    display: table; }
  .sidebar-section img {
    float: left;
    margin-right: 10px;
    width: 40px; }
  .sidebar-section .sidebar-item {
    float: left;
    margin: .4em 0; }

.button-face.green {
  cursor: pointer;
  border: 0;
  width: initial; }
  .button-face.green.small {
    margin: 0;
    font-size: .9em; }

.input-section {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-top: 20px; }
  .input-section::after {
    clear: both;
    content: "";
    display: table; }
  .input-section:last-child {
    margin-right: 0; }
  @media screen and (max-width: 769px) {
    .input-section {
      float: left;
      display: block;
      margin-right: 10.1484%;
      width: 100%;
      font-size: 1em; }
      .input-section:last-child {
        margin-right: 0; } }
  .input-section > input {
    color: #555555;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: .3em;
    width: 100%; }

.query-note {
  font-size: .8em; }

.search-form::after {
  clear: both;
  content: "";
  display: table; }

.checkbox-group {
  margin: 0 0 10px; }
  .checkbox-group label {
    font-weight: normal;
    display: block; }

@media screen and (max-width: 769px) {
  .search-form.table > tbody > tr > td {
    border-top: none;
    display: block;
    margin-bottom: 10px;
    padding: 0;
    width: 100%; } }

.sort-results .sort {
  margin-top: 10px; }

.title-area::after {
  clear: both;
  content: "";
  display: table; }
.title-area h1 {
  line-height: 2.5em; }
.title-area img {
  max-width: 175px; }

.results-section {
  margin-top: 2em; }

/*# sourceMappingURL=application.css.map */
