#content {
        font-family: Monospace;
}
#content header {
        color: #000;
        border-bottom: 1px solid #000;
        border-top: 5px solid #000;
        padding-bottom: 5px;

}
#content #headerToggle {
        margin-top: -30px;
}
#content .unclassified {
        color: #999;
}
.raw-source {
        text-align: center;
        font-size: large;
        font-weight: bold;
}
.mail-content {
        color: #555;
        display: none;
}
.mail-overflow .btn {
        background: #ddd;
        padding-top: 0px;
        padding-bottom: 0px;
}
#header .sh {
        white-space: normal;
}
